/* General Styles */
body {
    background-color: rgb(34, 40, 49);
    margin: 0px;
}

/* Nav Styles */
nav {
    background-color: rgb(118, 171, 174);
    border-radius: 20px;
    display: flex;
    /* Flex items are evenly distributed, with the first at margin start and the last at margin end*/
    justify-content: space-between; 
    padding: 10px;
    margin: 10px;
    font-family: "Questrial", serif;
    color: rgb(238, 238, 238);
}

nav p, nav a {
}

nav a {
    text-decoration: none;
    color: rgb(2, 26, 27);
}

nav a:hover {
    color:  rgb(12, 223, 230);
}

/* Footer Styles */
footer {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-family: "Questrial", serif;
    color: black;
    background-color:  rgb(238, 238, 238);
    border-radius: 20px;
    margin: 10px;
}

footer a {
    text-decoration: none;
    color: rgb(2, 26, 27);
}

footer a:hover {
    color:  rgb(12, 223, 230);
}

/* Splash Section */
.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.splash h1 {
    font-family: "Questrial", serif;
    color: rgb(238, 238, 238);
    font-weight: 400;
    font-size: 70px;
}

.splash img {
    border-radius: 15%;
}

.splash p {
    font-family: "Questrial", serif;
    color: rgb(238, 238, 238);
    max-width: 700px;
    font-size: large;
}

/* Horizontal Rules */
hr {
    border: none;
    height: 1px;
    background-color:  rgb(118, 171, 174);
    margin: 30px 10px;
}

/* Sections */
section {
    border: 2px solid rgb(238, 238, 238);
    border-radius: 20px;
    padding: 30px;
    margin: 10px;
}

section:hover {
    border-color: rgb(118, 171, 174);
}

/* Section Headings */
section h2 {
    font-family: "Questrial", serif;
    color: rgb(238, 238, 238);
    font-weight: 400;
    font-size: 40px;
}

/* Paragraph Styles */
section p {
    display: grid;
    gap: 10px;
    font-family: "Questrial", serif;
    color: rgb(238, 238, 238);
}

/* link styles */
section a {
    text-decoration: none;
    color:  rgb(12, 223, 230);
}

section a:hover {
    color:  rgb(7, 138, 143);
}

/* List Styles */
ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 10px;
    font-family: "Questrial", serif;
    color: rgb(238, 238, 238);
}

dl {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    font-family: "Questrial", serif;
    color: rgb(238, 238, 238);
}

dl dt{}
dl dd{}

/* Project Section */
.three-col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(238, 238, 238);
    padding: 15px;
    border-radius: 20px;
}

.card:hover {
    background-color: rgb(118, 171, 174);
}

.card img {
    width: 250px;
    height: 200px;
}

.card h3 {
    display: flex;
    justify-content: center;
    font-family: "Questrial", serif;
    color: rgb(238, 238, 238);
}

/* Contact Page Styles */
.one-col {
    font-family: "Questrial", serif;
    display: flex;
    flex-direction: column;
    align-items: justify;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.contact_section {
    color:  rgb(238, 238, 238);
    text-align: center;
}

form {}

form input {
    height: 40px;
    width: 100%;
}

form textarea {
    height: 100px;
    width: 100%;
}

form input:focus, form textarea:focus {}

form button {
    height: 40px;
    background-color: rgb(118, 171, 174);
}

form button:hover {}
